// footer

footer{
position: relative;
.container{
	@include rwd-max(1200) {
		width: 96%;
		max-width: 96%;
	}
	@include rwd-max(992) {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
}
	.row{
		margin: 0;
		.col-6:nth-child(1),.col-6:nth-child(2),.col-6:nth-child(3),.col-12{
			background: #2C343F;

		}
		.col-6:nth-child(4), .col-6:nth-child(5),.col-6:nth-child(6),.col-12:last-child{
			background: #F8F8F9;
			.foter_menu_col{
				h5{
					color: #2C343F;
				}
				.footer-navigation a{
					color: #2C343F;
				}
			}
		}
		.col-6,{
			@include rwd-max(992) {
				padding: 40px 18px 0 18px;
			}
			.menu_block {
				@include rwd-max(992) {
					margin-bottom: 0;
				}

			}
		}
		.col-12{
			@include rwd-max(992) {
				padding: 25px 18px 40px 18px!important;
			}
		}
		.col-6:nth-child(4){
			padding-left: 30px;
		}
		.col-6:nth-child(1){
			@include rwd-max(992) {
				order: 4;
			}
		}
		.col-6:nth-child(2){
			@include rwd-max(992) {
				order: 5;

			}
		}
		.col-12:last-child{
			.soc_block{
				justify-content: end;
			}
			@include rwd-max(992) {
				order: 3;
				.soc_block{
					justify-content: start;
					.soc_item:first-child{
						margin-left: 0;
					}
				}
			}
		}
		.col-6:nth-child(3){
			@include rwd-max(992) {
				order: 6;

			}
		}
		.col-6:nth-child(4){
			@include rwd-max(992) {
				order: 7;
				background: #2C343F;
				h5 {
					color: #FFFFFF!important;
				}
				.footer-navigation{
					a{
						color: #FFFFFF!important;
						opacity: 0.6;
					}
				}
			}
		}
		.col-6:nth-child(5){
			@include rwd-max(992) {
				order: 1;
			}
		}
		.col-6:nth-child(6){
			@include rwd-max(992) {
				order: 2;
				.menu_block{
					margin-bottom: 40px;
				}
			}
		}
		.col-12:nth-child(7){

			justify-content: start;
			@include rwd-max(992) {
				order: 8;
				flex-wrap: wrap;
				justify-content: center;
				flex-direction: column;
			}
		}

		.col-12{
			padding-bottom: 58px;
		}
	}
	.foter_menu_col {
		margin: 72px auto 62px auto;
		@include rwd-max(992) {
			margin: 0;
		}
		h5{
			font-weight: 700;
			color: #FFFFFF;
			margin-bottom: 32px;
		}
		.menu_block{
			margin-bottom: 40px;
		}
	}
	.site-branding{
		margin-right: 50px;
		.logo_img.bg {
			width: 150px;
			padding-top: 32px;
		}
		@include rwd-max(992) {
			margin: auto;
		}
	}


}
footer:before{
	position: absolute;
	left: 0;
	top: 0;
	width: calc( (100% - 1110px)/2 );
	height: 100%;
	content: "";
	background: #2C343F;
	@include rwd-max(1200) {
		width: 100px;
	}
	@include rwd-max(992) {
		display: none;
	}
}
footer:after{
	position: absolute;
	right: 0;
	top: 0;
	width: calc( (100% - 1110px)/2 );
	height: 100%;
	content: "";
	background: #F8F8F9;
	@include rwd-max(1200) {
		width: 100px;
	}
	@include rwd-max(992) {
		display: none;
	}
}
.footer-navigation{
	align-items: flex-start;
	li{
		margin-bottom: 10px;
	}
	a{
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		font-family: $ff3;
		color: #FFFFFF;
		opacity: 0.6;
	}
}

.footer-navigation{
	flex-direction: column;
	.menu{
		margin: 0;
	}
}
.blue{
	color:  #2574D1;
	border: 1px solid #2574D1;
}
.footer_text_block{
	max-width:323px;
	color: #FFFFFF;
	font-family:$ff3;
	opacity: 0.6;
	font-size: 12px;
	line-height: 14px;
	@include rwd-max(992) {
		text-align: center;
		max-width: 100%;
		order: -1;
		margin-bottom: 24px;
	}
}
.soc_item {
	margin-left: 20px;
}
.soc_img.bg {
	padding-top: 32px;
	width: 32px;
}