.giude_card_section {
  padding: 62px 17px 32px;
  .cards {
    width: 100%;
    justify-content: space-between;
    .card {
      width: 100%;
      background: #fff;
      filter: drop-shadow(0px 8px 48px rgba(0, 0, 0, 0.06));
      img {
        width: 100%;
      }
      .desctop_img {
        display: none;
      }
      .text {
        padding: 23px 10px;
        color: $cl_tg;
        font-size: 14px;

        p {
          margin: 16px 0 24px;
        }
        .subtitle {
          font-family: $ff;
        }

        .button {
          display: block;
          width: 100%;
          margin: 24px auto;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  @include tablet() {
    padding: 60px 133px 120px;
    .cards {
      display: flex;
      .card {
        width: 49%;
        .text {
          padding: 24px 30px;
          ul > li {
            line-height: 36px;
          }
          .button {
            margin: 24px auto 5px;
            width: auto;
          }
        }
      }
    }
  }

  @include desktop() {
    .cards {
      display: flex;
      .card {
        display: flex;
        img {
          width: 200px;
        }

        .desctop_img {
          display: block;
        }
        .mobile_img {
          display: none;
        }

        .text {
          .button {
            margin: 24px 0;
          }
        }
      }
    }
  }
}
